@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 400px) {
  .hidden-small {
    display: none;
  }
}
